button, input {
	border-radius: 0;
}
.sec-eq {
	position: fixed;
    left: 0;
    right: 0;
    bottom: 0 !important;
    background: #000;
    width: 100%;
    z-index: 111;
    padding: 8px 0;
}
.sec-eq form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.eqTitle {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 15px;
    color: #fff;
}
.sec-eq .eqTitle {
    margin-left: 0;
}
.formControl {
	margin: 0 15px;
	width: 250px;
}
.formControl input {
	width: 100%;
	min-height: 36px;
	outline: 0;
	padding: 0 10px;
	font-family: inherit;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #fff;
	border-radius: 0px;
	color: #fff;
}
.formControl.btn {
	width: 100px;
}
.subBtn {
	background: #fff;
	border:0;
	outline: 0;
	color: #444;
	min-height: 36px;
	line-height: 36px;
	padding: 0px 20px;
	font-weight: bold;
	border-radius: 2px;
	cursor: pointer;
}
input[type='number'] {
	-moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.error_bottom {
	border-bottom: 2px solid red !important;
}
.mobEq {
	display: none;
}
.closeBtn {
	display: none;
}
.sec-eq .intl-tel-input {
	color: #fff;
}
.sec-eqMobile {
	display: none;
}
.closeIcon {
	display: none;
}
.sec-eq.show {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 11111;
}
.sec-eq.show .container {
	position: absolute;
	width: 300px;
	background: #000;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 15px;
}
.sec-eq.show .closeIcon {
    display: flex;
    position: absolute;
    right: 15px;
    font-size: 1.5em;
    top: 10px;
    color: #fff;
    transform: rotate(45deg);
    background: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffff;
}
.sec-eq.show .eqTitle {
	margin: 15px 0
}
.sec-eq.show form {
	flex-direction: column;
}
.sec-eq.show .formControl {
	width: 100%;
	margin:0 0 15px 0;
}
@media only screen and (max-width: 1200px) {
	.eqTitle {
		font-size: 16px;
	}
	.formControl {
		width: 180px;
		margin: 0 8px;
 	}
}
@media only screen and (max-width: 800px) {
	.formControl {
		width: 140px;
		margin: 0 8px;
 	}
}
@media only screen and (max-width: 767px) {
	.sec-eq {
		display: none;
	}
	.sec-eq form {
		flex-direction: column;
	}
	.formControl {
		width: 100%;
		margin:0 0 15px 0;
	}
	.sec-eqMobile {
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		font-size: 20px;
		color: #fff;
		background: #000;
		width: 100%;
		padding: 8px 0;
		text-align: center;
		z-index: 99;
	}
	.closeIcon {
	    display: flex;
	}
}

.opt-section {
	background:rgba(0,0,0,0.9);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}
.opt-section.show {
	display: block;
}
.optWpr {
	width: 240px;
	background-color: #000;
	padding: 15px 15px 25px 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.optWpr .formControl {
	width: 100%;
	margin: 0 0 15px 0;
}
.optWpr a {
	display: inline-block;
	margin: 0 5px;
}
.optWpr .formControl.btn {
	margin: 0;
}